# Database Configuration
POSTGRES_USER=quant
POSTGRES_PASSWORD=quant_pass
POSTGRES_DB=quantfolio

# AWS/LocalStack Mock Credentials
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1

# Airflow Admin Setup
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# APIs
ALPHA_VANTAGE_API_KEY=YOUR_API_KEY_HERE
